body{
  text-align: center;
}



.clock{

  font-size: 2em;

}

div p {
  margin: 30px 30%;
  padding: 100px;
  border: solid red 4px;
  border-radius: 50%;
  background-color: #aae9f0;
}

button{
  padding: 20px 10px;
  margin: 10px;
  font-size: 2em;
  border-radius: 6px;
}
